# This file must contain all runtime dependencies for your
# Cognite Function. After making sure your code works, you can
# do a
#
# python -m pip freeze >> requirements.txt
#
# to populate this file.
# If you use poetry, you achieve the same thing with
#
# poetry export -f requirements.txt --without-hashes >> requirements.txt